html body .app-content {
  visibility: hidden;
}
html body.home-body .app-content {
  visibility: visible;
}
.home-body {
  background-color: rgb(0, 43, 60);
  color: #B1EFFB;
}
.home-body .app-content {
  background-color: #111;
  border-radius: 10px;
  border-color: #044965;
}
.home-body .title {
  position: relative;
  left: 8px;
  font-size: 36px;
  margin: 8px;
  font-weight: 700;
  display: inline-block;
}
.home-body .logo {
  background-image: url('../../img/favicon.png');
  background-size: 42px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-top: -15px;
  background-position: 50%;
  position: relative;
  left: -12px;
  top: 5px;
}
.home-body a {
  color: #3AA1BF;
}
.home-body a.clicked {
  color: #D2D2D2;
}
button {
  height: 28px;
  border-radius: 4px;
  border: 1px solid #333;
  background: #B1EFFB;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.7;
  font-family: 'Montserrat';
}
button:hover {
  opacity: 1.0;
}
.ratings button {
  width: 100px;
}
#lame {
  background-color: #C1B37E;
}
#good {
  background-color: #ADBCC7;
}
#great {
  background-color: #2E9E7B;
}
iframe {
  border: none;
}
.robot-map-container{
  width: 500px;
  display: inline-block;
  margin: 20px;
}
.robot-span {
  height: 100px;
  width: 100px;
  float: left;
  display: inline-block;
}
.map-span img {
  height: 130px;
  width: 370px;
  float: right;
  display: inline-block;
}
.robot-iframe {
  height: 130px;
  width: 130px;
}
.map-iframe {
  // height: 100px;
}
.audio-quote-container{
  position: absolute;
  left: -3000px;
  opacity: 0;
}
.audio-iframe {
  height: 200px;
  width: 400px;
}
.quote-container {
  padding: 20px;
  min-height: 100px;
  min-width: 500px;
  max-width: 80%;
  display:inline-block;
  font-size: 30px;
  font-weight: 400;
  color: #55C8E4;
}
.button-holder {
  display: block;
  width: 100%;
}
.close-list {
  width: 100px;
}
.quotes-table {
  margin-top: 30px;
  margin: 20px;
  display: inline-block;
  padding: 3px;
}
.quotes-table tr,
.quotes-table th,
.quotes-table td {
  border: 1px solid #666;
  padding: 10px;
}
.quote-td {
  text-align: left;
}
.search-div input {
  font-size: 16px;
  font-family: 'Montserrat';
  padding-left: 5px;
  background-color: #aaa;
  border-radius: 5px;
  height: 25px;
  width: 200px;
}

.spinner {
  position: absolute;
  top: 380px;
  left: 50%;
  margin-left: -50px;
}
// .done .spinner {
//   visibility: hidden!important;
// }

/* Spinkit overrides */
.sk-three-bounce {
  margin: 5px;
  width: auto;
  text-align: center;
}
.sk-three-bounce div {
  background-color: #5C92A2!important;
}

// responsive
@media only screen and (max-width:600px) {

}
@media only screen and (max-width:480px) {

}

