<div class="home">
  <span class="title"><div class="logo"></div>QuoteBot</span><br>
  <!-- <button class="new-subview">add subview</button> -->

  <div class="robot-map-container"></div>

  <div class="controls">
    <button id="play">Speak Quote</button>
    <button id="list">See Past Quotes</button>
    <button id="yoda">Yoda-like, Say This</button>
  </div>

  <div class="quote-container"></div>

</div>
