<div class="home">

  <span class="title"><div class="logo"></div>QuoteBot</span><br>

  <div class="robot-map-container">
    <span class="robot-span"></span>
    <span class="map-span"></span>
  </div>

  <div class="not-list-container">

    <div class="controls">
      <button id="play">Speak Quote</button>
      <button id="list">See Past Quotes</button>
      <button id="yoda">Speak it, Yoda will</button>
    </div>

    <div class="quote-container"></div>

  </div>

  <div class="list-container">
    <div class="search-div start-hidden">
      <input type="text" class="search" placeholder="Search">
    </div>
  </div>

</div>
